<html>
    <body>
        <form action="/form" method="post">
            Name: <input type="text" name="name" id="">
            Email: <input type="email" name="email" id="">
            Designation: <input type="text" name="designation" id="">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>