<html>
    <body>
        <form method="post">
            {% csrf_token %}
            First Name: <input type="text" name="fname" id="">
            Last Name: <input type="text" name="lname" id="">
            Class: <input type="text" name="class" id="">
            Email: <input type="text" name="email" id="">
            Mobile No: <input type="text" name="mobno" id="">
            Address: <input type="text" name="address" id="">
            <button type="submit">submit</button>
        </form>
    </body>
</html>